.scaled-image, .scaled-image img, .scaled-image svg {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.slidev-layout.two-cols-header {
  grid-template-rows: auto 1fr auto !important;
}
